<spinner [active]="!result"></spinner>

<form #form="ngForm" novalidate (submit)="submit()" *ngIf="params">

    <div class="row">
        <div class="form-group col-md-3">
            <div><label class="control-label">Place range: </label></div>
            <div class="col-md-6" style="padding:2px;margin:0">
                <input type="number" [(ngModel)]="params.range.from" name="range_from" required class="form-control" />
            </div>
            <div class="col-md-6" style="padding:2px;margin:0">
                <input type="number" [(ngModel)]="params.range.to" name="range_to" required class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="bedding">
                <input type="checkbox" [(ngModel)]="params.bedding" name="bedding" />
                Include bedding
            </label>
        </div>
        <div class="form-group col-md-3">
            <div><label class="control-label">Upper/lower: </label></div>
            <div class="col-md-6" style="padding:2px;margin:0">
                <input type="number" [(ngModel)]="params.range.upperCount" name="range_upper" required class="form-control" />
            </div>
            <div class="col-md-6" style="padding:2px;margin:0">
                <input type="number" [(ngModel)]="params.range.lowerCount" name="range_lower" required class="form-control" />
            </div>
        </div>
        <div *ngIf="travellers.length > 1" class="form-group col-md-3">
            <label class="control-label">Location: </label>
            <select [(ngModel)]="params.location" required name="location" class="form-control">
                <option disabled [value]="">Выберите расположение</option>
            </select>
        </div>
    </div>

    <div *ngIf="result">
        <car-scheme-rzd
            [(ngModel)]="params.range"
            [scheme]="result.scheme"
            name="range">
        </car-scheme-rzd>
    </div>

    <div>
        <travellers-array 
            [(ngModel)]="travellers"
            name="travellers">
        </travellers-array>
    </div>

    <div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary pull-right">Submit</button>
    </div>

</form>
